Repository Kim-Beomjin/CCC-SSDProject, pull requests merged in 2025-08, with the labels that each got.

#195 [#194][BugFix] fix build system and .gitignore
  .gitignore
  SSDProject/SSDProject.vcxproj.user
  TestShell/TestShell.vcxproj.user
  TestShell/global_config.h
Labels: Feature

#200 [#199][Bugfix] DEBUG 옵션 버그 수정
  SSDProject/BufferManager.cpp
Labels: bug

#207 - [#205][Refactor] Separate Eraser Class
  TestShell/executor.cpp
  TestShell/executor.h
  TestShell/global_config.h
  TestShell/interface.h
Labels: Refactor

#228 [#227][Bugfix] Buffer 구조 Refactoring 및 버그 수정
  SSDProject/BufferedSSD.cpp
Labels: bug

#240 [#239][Refactoring] Implement CachedExecutorFactory
  TestShell/TestShell.vcxproj
  TestShell/TestShell.vcxproj.filters
  TestShell/commandParser.h
  TestShell/commandParser_test.cpp
  TestShell/compositeExecutor.h
  TestShell/compositeExecutor_test.cpp
  TestShell/executorFactory.cpp
  TestShell/executorFactory.h
  TestShell/executor_test.cpp
  TestShell/interface.h
  TestShell/runner.cpp
  TestShell/shell.cpp
Labels: Refactor, TestShell

#247 [#246][Refactor] Implement ICompositeExecutorStrategy
  TestShell/compositeExecutor.cpp
  TestShell/compositeExecutor.h
  TestShell/compositeExecutor_test.cpp
  TestShell/executorFactory.cpp
  TestShell/executorFactory.h
  TestShell/runner.cpp
Labels: Refactor, TestShell

#250 [#245][refactor] no more use direct pointer
  TestShell/commandParser.h
  TestShell/commandParser_test.cpp
  TestShell/compositeExecutor.h
  TestShell/runner.cpp
  TestShell/shell.cpp
  TestShell/shell.h
  TestShell/shellInterface_test.cpp
Labels: Refactor, TestShell

#253 [#252][UnitTest] Add Test Scripts for Runner
  x64/Release/0_TestScript_Invalid.txt
  x64/Release/1_TestScript_FirstShort.txt
  x64/Release/2_TestScript_SecondFull.txt
  x64/Release/3_TestScript_FirstInvalid.txt
Labels: Test, TestShell
